html,
body {
    width: 100%;
    height: 100%;
   background-color: #A8CDC8;#BDCCCA; #A8CDC8
}

    
.bg {
    /* The image used */
    background-image: url("images/einzelseite/cv/jpg");

    /* Full height */
    height: 120%;
    width: 99%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo_img {
  width:6%;
  position:fixed;
  left:40px;
  top:40px;
}



.box_orange {
  background-color: black;
  width: 390px;
  float:right;
  margin-top: -120px;
  color: transparent;
  font-size: 2px;
    opacity: 30%;
 
 
}

  
}
.nav_container {
  position: absolute;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  text-align: right;
    
}

/* Navbar links */
.topnav a {
  float: right;
  padding: 15px;
  color: black; 
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 17px;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
 
}

.topnav a:hover {
  color: lightgray;
}

.nav_abstand_rand {
  margin-right: 70px;
}




 .h1 { 
                font-family: "Noto Sans JP", sans-serif;
                text-align: left;
                font-size: 75px;
                margin-bottom: 50px;
                color: #546E7A;   
                    
            }
            
            .h2 {
                font-family: "Noto Sans JP", sans-serif;
                font-weight: normal;
                font-size: 40px;
                margin-bottom: 3px;
                margin-top: 5px;
                padding-left: 25px;
                    
            }
            .absatz01 { 
                font-family: "Raleway", sans-serif;
                margin-left: 22px;
                margin-top: 40px;
                font-size: 23px;
                line-height: 1.5;
                
            }
            
           
            .frame02 {
                border: 0.05em solid white;
                border-radius: 25px;
                font-family: raleway;
                font-size: 25px;
                padding-left: 20px;
                margin-bottom: 60px;
                width: 1000px;
                margin-left: 200px;
            }
            
 .frame03 {
                border: 0.05em solid white;
                border-radius: 25px;
                font-family: raleway;
                font-size: 25px;
                padding-left: 20px;
                margin-bottom: 10px;
                margin-left: 200px;
                width: 1000px; 
                background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.7) 19%, rgba(255,255,255,0.7) 100%);
            }
           
            
            
            

.zeile {
               font-family: raleway;
                font-size: 15px;
                color: #757575;

}
.zeile0 {
               font-family: raleway;
                font-size: 15px;
                

}

table, th, td {
  border:px solid black;
  width: 3500px    
 
}


.abstand { 
    margin-top: -20px;
    
}
.abstand01 { 
    margin-top: 30px;
    
}

.space {
               font-family: raleway;
                font-size: 15px;
                color: transparent;

}


footer-box{
    height: 170px;
    margin-top: -1300px;
background: rgb(168,205,200);
background: linear-gradient(0deg, rgba(168,205,200,1) 19%, rgba(0,0,0,0) 100%);
}
.footer_text {
    font-size: 23px;
    font-family:'Raleway', sans-serif;;
    padding-top: 350px;
    padding-left: 100px;
    color: white;
}

.footer_designed {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    float: right;
    margin-top: 104px;
    padding-bottom: 30px;
    margin-right: 30px;
    color:white;
}

.contact_text {
    font-size: 23px;
}
.col1 {
    float:left; 
    width:300px;
    margin-top: 10px;
    
}

.col2 {
    float:left; 
    width:00px; 
    margin-left:30px;
    margin-top: 10px;
    font-size: 19px;
    
}

 /*instagramlink*/
.sm_link { 
    font-family:'Raleway', sans-serif;
    font-size: 19px;
    
}

.sm_link a { 
    color: white;
    text-decoration: none;
    
}
.sm_link a:hover {
    color:#9ffcc0;
    text-decoration: none;
}


.flip-card {
  background-color: transparent;
  width: 230px;
  height: 50px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #A8CDC8;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  
}


.aboutme {
     font-family: raleway;
                font-size: 40px;
    color: black;
}

.bild {
    width: 100%;
    margin-top: -150px;
    border-radius: 25px;
}