html, body {

background-color:#c6c1d6;
}





.logo_img {
  width:6%;
  position:fixed;
  left:40px;
  top:40px;
}



.nav_container {
  margin-right: 50px;
  width: auto;
    float: right;
    margin-top: 50px;
}

/* The navbar */
.topnav {
  overflow: hidden;
  text-align: right;
    
}

/* Navbar links */
.topnav a {
  float: right;
  padding: 15px;
  color: white; 
  margin-bottom: 60px;
  font-size: 17px;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
 
}

.topnav a:hover {
  color: #0e0320;
}

.nav_abstand_rand {
  margin-right: 80px;
}




.back_home {
    text-align: right;
    margin-top: -20px;
    margin-right: 200px;
    padding-top: 60px;
    
}
.back_home a {
    color:darkgray;
    font-size:30px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    position:fixed;
    margin-top: -20px;
    padding-top: 60px;
}


.bildcontiner { 
    align-content:flex-start;

}



.imagegrid{

  display: block;
  padding-top: 200px;
  margin-bottom: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
    
}


.column {
  float:left;
  width: 15vw;
  padding: 5px;

    
}

/* Clearfix (clear floats) */
.row::after {
  align-items: center;
  clear: both;
  display: table;
}














.footer_text {
    font-size: 23px;
    font-family:'Raleway', sans-serif;;
    
    padding-left: 100px;
    padding-right: 500px;
    color: white;
}

.footer_designed {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    float: right;
    margin-top: 104px;
    padding-bottom: 30px;
    padding-left:70px;
    padding-right: 30px;
    color:white;
    
}

.contact_text {
    font-size: 23px;
}
.col1 {
    float:left; 
    width:300px;
    margin-top: 10px;
    
}

.col2 {
    float:left; 
    width:00px; 
    margin-left:30px;
    margin-top: 10px;
    font-size: 19px;
    
}

 /*instagramlink*/
.sm_link { 
    font-family:'Raleway', sans-serif;
    font-size: 19px;
    
}

.sm_link a { 
    color: white;
    text-decoration: none;
    
}
.sm_link a:hover {
    color:#9ffcc0;
    text-decoration: none;
}